<h2>Welcome to Boords</h2>
<p>===============================================</p>

<p>You have successfully signed up to Boords Referrals,
your username is: <%= @user.username %>.</p>

<p>To login to the site, just follow this link: <%= @login_link %>.</p>

<p>Thanks for joining and have a great day!</p>
